body {
                background: white;
                font-family: "Lucida Console", "Courier New", monospace;
            }
            
.black-box {
    background-color: ;  /* Makes the box black */
    color: lightblue;  /* Makes text inside the box white */
    padding: 10px;  /* Adds padding around the content */
    text-align: left;  /* Centers the heading text */
    width: 100%;  /* Makes the box span the entire width of the page */
}            
            
            
figure {width:42%;
             background: /*#EFD6F6*/ white ;;
            }
            
img {width:80%;}
            
img#PSB {width:0%;}
            
section{
            background: lightblue;
            width:90%;
            margin:auto;
            }

